@{
    ViewData["Title"] = "Home Page";
}

<center>
    <br />
    <img src="/images/android-chrome-192x192.png" class="img-fluid centerImage">
    <br />
</center>

<div class="text-center">
    <h1 class="display-4" style="font-family: Georgia, serif">Bank Orders</h1>
    @if (this.User.Identity.IsAuthenticated)
    {
        <p style="font-family: Georgia, serif">Welcome, @(User.IsAdmin() ? "Admin" : "Employee") №@(this.User.Identity.Name)! Would you like to <a href="/Orders/Create">create an order</a>?</p>
    }
    else
    {
        <p style="font-family: Georgia, serif">Start using our accounting application now by <a href="/Identity/Account/Login">logging in</a>.</p>
    }
</div>