@model OrderSearchFormModel

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="RefNumber" class="control-label">Ref. №:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">№</div>
                        </div>
                        <input asp-for="RefNumber" class="form-control" />
                    </div>
                    <span asp-validation-for="RefNumber" class="text-danger"></span>
                    <br />
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control">
                        <option></option>
                        <option value="Draft">Draft</option>
                        <option value="ForApproval">For approval</option>
                        <option value="ForCorrection">For correction</option>
                        <option value="ForPosting">For posting</option>
                        <option value="ForPostingApproval">For posting approval</option>
                        <option value="ForCorrection">For posting correction</option>
                        <option value="Finished">Finished</option>
                        <option value="Canceled">Canceled</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="AccountingDateFrom" class="control-label">Accounting Date From:</label>
                    <input asp-for="AccountingDateFrom" class="form-control" />
                    <span asp-validation-for="AccountingDateFrom" class="text-danger"></span>
                    <br />
                    <label asp-for="AccountingDateTo" class="control-label">Accounting Date To:</label>
                    <input asp-for="AccountingDateTo" class="form-control" />
                    <span asp-validation-for="AccountingDateTo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="UserCreate" class="control-label">Created By:</label>
                    <input asp-for="UserCreate" class="form-control" />
                    <span asp-validation-for="UserCreate" class="text-danger"></span>
                    <br />
                    <label asp-for="UserApprove" class="control-label">Approved By:</label>
                    <input asp-for="UserApprove" class="form-control" />
                    <span asp-validation-for="UserApprove" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="UserPosting" class="control-label">Posting By:</label>
                    <input asp-for="UserPosting" class="form-control" />
                    <span asp-validation-for="UserPosting" class="text-danger"></span>
                    <br />
                    <label asp-for="UserApprovePosting" class="control-label">Posting Approved By:</label>
                    <input asp-for="UserApprovePosting" class="form-control" />
                    <span asp-validation-for="UserApprovePosting" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="System" class="control-label">System:</label>
                    <select asp-for="System" class="form-control">
                        <option></option>
                        <option>Internal</option>
                        <option>External</option>
                    </select>
                    <span asp-validation-for="System" class="text-danger"></span>
                    <br />
                    <label asp-for="PostingNumber" class="control-label">Posting Number:</label>
                    <input asp-for="PostingNumber" class="form-control" />
                    <span asp-validation-for="PostingNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-1" style="margin-top: auto;">
                    <div style="margin-bottom: 80%;">
                        <button type="submit" class="btn btn-primary align-items-center">Search</button>
                    </div>
                    <div>
                        <button type="button" onclick="location.href='@Url.Action("All")'" class="btn btn-dark">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>