<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Добави нареждане</h1>
        <div style="padding: 5%;">
            <form method="post">
                <div class="form-group">
                    <label for="refNumber">Ref №</label>
                    <input type="text" class="form-control" id="refNumber" name="refNumber" placeholder="Ref №">
                </div>
                <div class="form-group">
                    <label for="аccountingDate">Счетоводна дата</label>
                    <input type="text" class="form-control" id="accountingDate" name="accountingDate" placeholder="dd.MM.yyyy">
                </div>
                <div class="form-group">
                    <label for="system">Система</label>
                    <input type="text" class="form-control" id="system" name="system" placeholder="Internal/External">
                </div>
                <button type="submit" class="btn btn-primary text-uppercase">Добави</button>
            </form>
        </div>
    </div>
</section>