@model BankOrders.Models.Orders.CreateOrderFormModel

@{
    ViewData["Title"] = "Create New Payment Order";
}

<h1>Create a new bank order</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-md-7">
                    <label asp-for="AccountingDate" class="control-label"></label>
                    <input asp-for="AccountingDate" class="form-control"/>
                    <span asp-validation-for="AccountingDate" class="text-danger"></span>
                </div>
                <div class="col-md-5 float-right">
                    <label class="control-label">Orderer</label>
                    <input class="form-control" value="@this.User.Identity.Name" disabled>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="System" class="control-label"></label>
                <select asp-for="System" class="form-control">
                    <option>Internal</option>
                    <option>External</option>
                </select>
                <span asp-validation-for="System" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Add Order" class="btn btn-primary"> Create </button>
                <button type="button" onclick="location.href='@Url.Action("All")'" class="btn btn-dark float-right"> Cancel </button>
            </div>
        </form>
    </div>
</div>

